# DATABASE
DATABASE_PORT=54332
DATABASE_USER=rutick
DATABASE_PASS=rutt2547
DATABASE_DB=cybersec_db

# PGADMIN
ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASS=ADMIN_PASS
ADMIN_PORT_HTTP=ADMIN_PORT_HTTP

# STRAPI
APP_PORT=APP_PORT