# DATABASE
DATABASE_USER=DATABASE_USER
DATABASE_PASS=DATABASE_PASS
DATABASE_DB=DATABASE_DB
DATABASE_PORT=DATABASE_PORT

# STRAPI DB CONFIG
APP_CLIENT=APP_CLIENT
APP_DB_NAME=APP_DB_NAME
APP_HOST=APP_HOST
APP_DB_PORT=APP_DB_PORT
APP_USERNAME=APP_USERNAME
APP_PASSWORD=APP_PASSWORD

# PGADMIN
ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASS=ADMIN_PASS
ADMIN_PORT_HTTP=ADMIN_PORT_HTTP

# STRAPI
APP_PORT=APP_PORT
